$color-primary: hsl(0, 0%, 10%);
$color-accent: hsl(124, 65%, 34%);
$color-background: hsl(42, 83%, 98%);
$color-text: hsl(0, 0%, 20%);
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, rgb(230, 9, 9), 4%);
$border-radius: 4px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  @font-face {
    font-family: 'Redaction Regular';
    src: url('assets/Redaction-Regular.woff2') format('woff2');
    font-display:swap;
  }

  @font-face {
    font-family: 'Redaction Bold';
    src: url('assets/Redaction-Bold.woff2') format('woff2');
    font-display:swap;
  }

  @font-face {
    font-family: 'Redaction Italic';
    src: url('assets/Redaction-Italic.woff2') format('woff2');
    font-display:swap;
  }

  @font-face {
    font-family: 'Satoshi Regular';
    src: url('assets/Satoshi-Regular.woff2') format('woff2');
    font-display:swap;
  }

  @font-face {
    font-family: 'Satoshi Italic';
    src: url('assets/Satoshi-Italic.woff2') format('woff2');
    font-display:swap;
  }

  @font-face {
    font-family: 'Satoshi Bold';
    src: url('assets/Satoshi-Bold.woff2') format('woff2');
    font-display:swap;
  }

  @font-face {
    font-family: 'Satoshi Bold Italic';
    src: url('assets/Satoshi-BoldItalic.woff2') format('woff2');
    font-display:swap;
  }

  @font-face {
    font-family: 'Satoshi Medium';
    src: url('assets/Satoshi-Medium.woff2') format('woff2');
    font-display:swap;
  }
  

body {
  box-sizing: content-box;
  font-family: 'Satoshi Medium';
  margin: 0 auto;
  line-height: 1.7;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 90em;
  background-color: $color-background;

  em {
    font-family: 'Satoshi Italic';
  }

  strong {
    font-family: 'Satoshi Bold';
  }

  em strong {
    font-family: 'Satoshi Bold Italic';
  }

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

.page_main {
  justify-content: flex-end;
  align-items: flex-start;
}

.page_wrap {
  overflow: clip;
}

time {
  display: block;
  color: $color-subtext;
  margin: 0;
  padding: 2px 5px;
  font-size: 0.8rem;

}



img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  margin: 0;
  font-size: 0.88em;
  background: white;
  border-left: 2px dashed #1E8D25;
  background-color: #fff;
  padding: 0.3125rem 0.625rem;

  p {
    margin: 0;
  }
}


hr {
  width: 100%;
  border: 0;
  height: 1px;
  margin: 1.5em 0;
  background: $color-border;
}

h1, h2, h3 {
  font-family: 'Redaction Regular';
}

h1 em, h2 em {
  font-family: 'Redaction Italic';
}


h4, h5 {
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-family: 'Satoshi Bold';
}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}


.internal-link {
  color: #1E8D25;
  font-family: 'Satoshi Bold';
}

*:focus {
  background: #ffe8bc !important;
  color: black !important;
}


#notes-entry-container {
  display: block;
  /* grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  } */
}

.backlink-box {
  background: white;
  padding: 1em;
  border-radius: $border-radius;
}

code {
  background: #f5f5f5;
  padding: 0.1em 0.2em;
  border-radius: 4px;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}




.logo-wrap {
  padding: 2.7rem 5rem;
  flex-direction: column;
display: flex;
align-items: center;
text-align: center;
}

.logo-image {
  width: 10.9375rem;
height: 5.8125rem;
}




.topic-wrap {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.logo-link.w--current {
  margin-bottom: 2.5rem;
}

.topics {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
}



.indicator {
  align-self: center;
  width: 1.75rem;
  height: .25rem;

  display: none;
}

.topic-ul {
  ul {
    padding-inline-start: 0px !important;
  }
}

.topic-list {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  overflow: auto;
}

.topic {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.topic-item {
  grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    display: flex;
}


.topic-item:hover{
.indicator {
  display:block;
  transition: ease-in 300ms;
  background: red;
}
}

.blockquote {
  border-left: 2px dashed #1E8D25;
  background-color: #fff;
  padding-left: .62rem;
}

.button  {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 1px solid #000;
  border-radius: .5rem;
  align-items: center;
  width: auto;
  padding: .2rem;
  display: inline-flex;
}

.button:hover {
  transition: background 300ms;
  color: white !important;
  background: #1E8D25;

}

.button a {
  color: inherit;
}

.path-5f451 {
  color: #000;
}

.svgflow-7rc91h {
  width: auto;
}

.button-label {
  line-height: 1;
  display: inline-block;
}

.button-image img {
  margin: 0px;
  display: auto;
border-radius: 0px;
}


.footer {
  inset: auto 0% 0%;
background-color: $color-background;
z-index: 5;
height: 1.8rem;
}


.footer-border-wrap {
  display: flex;
}

.footer-border-image {
  width: 50%;
}


.scattered-wrap {
  position: absolute;
  inset: 0%;
}


.page_wrap {
  overflow: clip;
}

.page_main {
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}



.content {

    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-left: 3em;
    padding-right: 3em;
    display: flex;
  }



.content-body {
  z-index: 3;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  display: flex;
  position: relative;
  padding-left: 9rem;
  height: 100%;
  padding-top: 3rem;
}

.about-background {
  background-color: #8d2424;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.about-content-wrap {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  display: flex;
}

.about-image_wrap {
  width: 9.5rem;
  height: auto;
}

.about-copy {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.bio {
  color: white;
}

.about-content {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  display: flex;
}

.thank-you {
  font-family: 'Redaction Italic';
  color: #ff6ec9;
  text-align: center;
  white-space: nowrap;
  font-size: 7.2rem;
  line-height: 1;
  position: absolute;
  inset: auto 0% 0%;
}



.nodes circle {
  fill: red !important;
}

.links line {
  stroke: black !important;
  opacity: 1;
}

.modified-time {
  border-radius: 0.5rem;
  border: 1px solid #000;
  text-transform: uppercase;
  font-family: 'Satoshi Bold';
  width: fit-content;
  margin-top: 1em;
}



.note-title h1 {
  font-size: 3rem;
}

.footnotes {
  margin: 3em 0em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footnote-ref {
  vertical-align: super;
  font-size: 0.8em;
}

.button-wrap {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}

.recent-note-title {
font-family: 'Redaction Regular'
}

.recent-note-preview:not(:first-child) {
padding: 1.5em 0em;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
}

.nav-link-contain {
  border-bottom: 1px solid #000;
  justify-content: space-between;
  padding: .5em;
  display: flex;
}

.nav-link-wrap {
  grid-column-gap: 0.75em;
  grid-row-gap: 2.75em;
  display: flex;
}

.item-title {
  margin-top: 0;
  a {
    font-family: 'Redaction Regular';
    color: black !important;
    text-decoration: none;
  }
}

.item-title:hover {
  font-family: 'Redaction Italic';
  color: $color-accent;
  text-decoration: underline;
}

.item-excerpt {
  flex: 1;

  p {
    margin-block-start: 0em !important;
  }
}

.item-tag-wrap {
  width: 50%;
  margin-bottom: 2em;
}

.item-tag {
  background-color: #1E8D25;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 2px 7px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.12em;
  font-size: 0.6rem;
  font-family: 'Satoshi Bold';
}

.item-content {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.title-wrap {
  flex: 1;
  height: 100%;
}

.home_wrap {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8rem;
  display: flex;
  padding-left: 3em;
}

.home-title-wrap {
  width: 40%;
}

.home-use-wrap {
  align-self: flex-end;
  width: 30%;
}

.item-contain {
  border-bottom: 1px solid #000;
  padding-bottom: 3.5rem;
  padding-left: 3rem;
  padding-right: 3em;
}

.note-wrap {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  padding-left: 3rem;
  display: flex;
  position: relative;
}

.note-mentions {
  border-left: 1px solid #000;
  width: 20%;
}

.note-content-wrap {
  flex: 1;
  padding-top: 8rem;
}

.mentioned-contain {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: scroll;
}

.mention-title {
  background: #F00;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 7px;
  color: #FFF;
font-family: 'Satoshi Bold';
font-size: 0.75rem;

line-height: normal;
letter-spacing: 0.06rem;
text-transform: uppercase;
}

.mentioned-item {
  border-bottom: 1px solid #000;
  padding: 13px;

  h2 {
    color: #000;
    margin-block-start: auto !important;

font-family: 'Redaction Regular';
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.045rem;

  }

  p {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.nav-link {
  color: #000;

font-family: Satoshi;
font-size: 0.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
}

.metadata-container {
  color:black;
  font-family: 'Satoshi Medium';
  margin: 2rem auto;
}

.metadata-line {
  display: flex;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
