---
layout: default
---


<div class="note-wrap">
  <div class="note-content-wrap">
    <h1>{{ page.title }}</h1>
    <div class="metadata-container">
      {% if page.title %}
      <div class="metadata-line">
        <span class="key">title</span>
        <span class="colon">:</span>
        <span class="value">{{ page.title }}</span>
      </div>
      {% endif %}
      
      {% if page.people %}
      <div class="metadata-line">
        <span class="key">people</span>
        <span class="colon">:</span>
        <a href="{{ page.people | remove: '[[' | remove: ']]' | prepend: '/people/' | append: '.html' }}" class="people-link">
          {{ page.people | remove: '[[' | remove: ']]' }}
        </a>
      </div>
      {% endif %}
      
      {% if page.tags %}
      <div class="metadata-line">
        <span class="key">tags</span>
        <span class="colon">:</span>
        <span class="brackets">[</span>
        <span class="value">{{ page.tags | join: ", " }}</span>
        <span class="brackets">]</span>
      </div>
      {% endif %}
    </div>
    <p class="item-excerpt">{{ content }}</p>
    <hr>

    <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>
    
    {% include notes_graph.html %}
  </div>
  
  <div class="note-mentions">
    <div class="mentioned-contain">
      <div class="mention-title">MENTIONED IN THIS NOTE</div>
      {% if page.backlinks.size > 0 %}
        {% for backlink in page.backlinks %}
          <div class="mentioned-item">
            <h2><a href="{{ site.baseurl }}{{ backlink.url }}" class="internal-link">{{ backlink.title }}</a></h2>
            {% assign sentences = backlink.content | split: "." %}
            {% for sentence in sentences %}
              {% if sentence contains page.title or sentence contains page.title | downcase %}
                <p class="mentioned-excerpt">
                  {{ sentence | append: "." | strip_html | strip }}
                </p>
                {% break %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <div class="mentioned-item">
          <p>There are no notes mentioning this note.</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .home_wrap {
    display: none !important;
  }

  .mentioned-excerpt {
    margin-top: 0.5rem;
    color: #666;
    font-size: 0.9em;
  }
</style>