---
layout: default
---


<div class="note-wrap">
  <div class="note-content-wrap">
    <h1>{{ page.title }}</h1>
    <p class="item-excerpt">{{ content }}</p>
  </div>
  
  <div class="note-mentions">
    <div class="mentioned-contain">
      <div class="mention-title">MENTIONED IN THIS NOTE</div>
      {% if page.backlinks.size > 0 %}
        {% for backlink in page.backlinks %}
          <div class="mentioned-item">
            <h2><a href="{{ site.baseurl }}{{ backlink.url }}" class="internal-link">{{ backlink.title }}</a></h2>
            {% assign sentences = backlink.content | split: "." %}
            {% for sentence in sentences %}
              {% if sentence contains page.title %}
                <p>{{ sentence | append: "." | strip_html }}</p>
                {% break %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      {% else %}
        <div class="mentioned-item">
          <p>There are no notes mentioning this note.</p>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .home_wrap {
    display: none !important;
  }
</style>