---
layout: default
---

<div class="content">
  <div class="home_wrap">
    <div class="home-title-wrap">
      <h1>A blog about something.</h1>
      <p class="item-excerpt">Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit
        cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake
        danish marzipan powder gingerbread.</p>
    </div>
    <div class="home-use-wrap">
      <p class="item-excerpt">Biscuit cotton candy toffee fruitcake danish marzipan powder gingerbread. Biscuit
        cotton candy toffee fruitcake danish marzipan powder gingerbread.Biscuit cotton candy toffee fruitcake
        danish marzipan powder gingerbread.</p>
    </div>
  </div>
</div>

<content>
  {{ content }}
</content>